html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.activeLink {
  font-weight: bold;
}

.none {
  display: none;
}

.game p {
  width: 88%;
}

.game img {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.game img:hover {
  transform: scale(1.009);
}

h4,
p {
  color: #222;
  margin-left: 2%;
}

.underline:hover {
  padding-bottom: 2.5px;
  border-bottom: 0.5px solid #222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
