html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.activeLink {
  font-weight: bold;
}

.themedTitle {
  color: #00005f;
}

.game p {
  width: 88%;
}

.game img {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.game img:hover {
  transform: scale(1.009);
}

* {
  box-sizing: border-box;
}
