/* form */
.form {
  margin: 10vh auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  width: 95%;
  font-size: 1.3rem;
}

.form img {
  margin-top: 13vh;
}

@media (max-width: 768px) {
  .form {
    margin: -10vh auto;
    padding-bottom: 2rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .form img {
    grid-row: 1;
  }
}

/* div containing input and label elements */
.formControl {
  margin: 3vh 0;
}

.formControl label {
  display: block;
  padding: 4px;
}

.formControl input {
  padding: 4px;
  width: 70%;
}

.formBtn {
  background: #00005f;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  transform: scale(1);
}

.formBtn:hover {
  transform: scale(1.1);
  opacity: 0.95;
}
